:root{
    --vermelho:#E50914;
    --preto:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*elementos basicos*/
body{
    background-color: var(--preto);
    font-family: 'Arial' , Times;
    color: white;
    margin: 10px;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Arial' , Times;
 

}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black' , Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}
header nav a:hover{
    color: #FFF;
}

/*filme principal*/

.titulo{
    margin-left: 20px;
}
.rock-main{
    color: darkcyan;
    
    font-size: 18px;
   
     
    background-image: url('/img/mainimage.png');
    height: 500px ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: flex-start;
    
    

}

.rock-main .sinopse{
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: 1.5rm;
    font-weight:500 ;
    margin-left: 20px;
   

}

.titulo{
    font-size: 3rem;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.subtitulo{
    font-family: 'Arial Black' , Times;
    margin-top: 15px;
}

.botao {
    padding: 15px 30px;
    cursor: pointer;
    background-color: rgba(0,0,0,.50);
    color: #FFF;
    margin-right: 10px;
    font-size: 12px;
    border: none;
    transition: .3s ease all;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 20px;

}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.box-filme{
display: block;
height: 100%;
width: 100%;
margin-top: 20px;
}
